.note{
    font-size: 10px;
    color: #bcbcbc;
  }
  #todo-app{
    margin-left: 40px;
    margin-top: 20px;
  }
  ul li{
    line-height: 30px;
  }
  .cls-finished{
    color: darkgreen;
    text-decoration:line-through
  }

  .chinese{ font-family:"SimSun";
    font-size:20px;
  } 
  
  .text{
    
    background: #C7EDCC
  }